<div class="container">
  <header>
    <h1>DDTANK COMPANY</h1>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#acerca">Acerca de</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inicio" class="inicio">
     
      <img src="../assets/img/descarga.png" alt="Imagen de bienvenida" >
    </section>

    <section id="acerca" class="acerca">
      <h2>Acerca de nosotros</h2>
      <p>Somos una empresa dedicada a proporcionar <span class="highlight">soluciones innovadoras</span>.</p>
      <img src="../assets/img/servicios.png" alt="Nuestro equipo">
    </section>

    <section id="servicios">
      <h2>Nuestros servicios</h2>
      <ul>
        <li>
          <img src="../assets/img/Aplicaciones móviles_ definición, para qué sirven, ejemplos y cómo desarrollar apps para dispositivos móviles.png" alt="Servicio 1" class="img-thumbnail"><br>
          Desarrollo Movil
        </li>
        <li>
          <img src="../assets/img/Cómo ser desarrollador web.png" alt="Servicio 2" class="img-thumbnail"><br>
          Desarrollo web 
        </li>
        <li>
          <img src="../assets/img/Ceasinci.png" alt="Servicio 3" class="img-thumbnail"><br>
          Asesorias de programcion
        </li>
      </ul>
    </section>

    <section id="contacto" class="contacto">
      <h2>Contacto</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <button type="submit">Enviar</button>
      </form>
      <img src="../assets/img/contact.png" alt="Contáctanos" class="img-responsive">
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Mi Página Web. Todos los derechos reservados.</p>
  </footer>
</div>
